@use "../../scss" as *;
.home-wapper {
  margin: 0px 10px;
  z-index: 9999;
  height: 100vh;
  overflow: hidden;
  .user-action-chat {
    position: fixed;
    padding: 10px;
    background-color: white;
    z-index: 10;
    width: 100vw;
    @include flex(row, center, space-between);
    display: flex;
    .left,
    .right {
      @include flex(row, center, center);
      p {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .group-wapper {
    @include flex(column, center, unset);
    height: 87vh;
    gap: 10px;
    overflow-y: scroll;
  }
}
.sideBar-wapper {
  margin: 20px 10px;
  height: 100%;
  @include flex(column, center, space-between);
  .wapper-user {
    @include flex(column, center, center);
    gap: 40px;
  }
}
.user-action-seach-group {
  padding-top: 60px;
  padding-bottom: 10px;
}
